.hero{
    padding-bottom: 103px;
    &-container{
        display: flex;
        justify-content: space-between;
        gap: 0 40px;
        position: relative;
    }
    &-title{
        width: 100%;
        max-width: 555px;
    }
    &-desc{
        line-height: calc(30px / 16px);
        margin-bottom: 50px;
        strong{
            font-weight: 500;
        }
    }
    &-heading{
        font-size: 50px;
        line-height: calc(70px / 50px);
        font-weight: 500;
        margin-bottom: 20px;
        color: $heading-color;
    }
    &-image{
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(40px ,-50%) ;
    }
}